@import './variable';
html, body {
	margin: 0;
	height: 100%;
}
html {
	font-size: 10px;
}
body {
	font-size: 1.5rem;
}
// form
.bs-form {
	font-size: 1.6rem;
	background: #fff;
	.bs-form-cell {
		width: 100%;
		padding: 0 1rem;
		background-image: linear-gradient(180deg, #d9d9d9, #d9d9d9 50%, transparent 50%);
		background-size: 120% .1rem;
		background-repeat: no-repeat;
		background-position: top left;
		background-origin: content-box;
		display: flex;
		align-items: center;
		min-height: 4.5rem;
		box-sizing: border-box;
		.bs-form-label {
			width: 10.5rem;
		}
		.bs-form-value {
			flex: 1;
		}
	}
}
.bs-more {
	margin: 0 4px 0 6px;
	top: 1px;
	position: relative;
}
// list
.bs-plus {
	position: fixed;
	right: 2.1rem;
	bottom: 8rem;
	color: @primary-color;
	filter: drop-shadow(0px 0px 2px @primary-color);
	.iconfont {
		font-size: 4.5rem;
	}
}
.bs-no-data {
	text-align: center;
	.iconfont {
		@len: 8rem;
		width: @len;
		height: @len;
		margin-top: 20vh;
	}
	.bs-no-text {
		color: #847777;
		padding: 2.8rem 0 1.8rem;
		font-size: 1.4rem;
	}
}
// search
.mint-search {
	.mint-searchbar {
		background: @primary-color;
	}
}
.back-wrapper {
	@hgt: 4.4rem;
	height: @hgt;
	background: @primary-color;
	.back-title {
		position: absolute;
	    height: @hgt;
	    line-height: 4.8rem;
	    width: 100%;
	    text-align: center;
	    color: #fff;
	    font-size: 1.8rem;
	}
	.mint-search {
		display: inline-block;
		width: calc(100% - 3.3rem);
		float: right;
	}
}
// clearfix
.clearfix {
	&:after {
		content: ' ';
		clear: both;
	}
}